body{
	background-color: linear-gradient(rgb(89, 107, 69), rgb(155, 164, 135));
	background-image: url("https://user-images.githubusercontent.com/36112411/102711626-99b49b80-42bb-11eb-85fa-290fed8b8186.png");
	background-size: 2200px;
}
