body{
	background-color: rgb(222,222,222);
	background-image: url("https://user-images.githubusercontent.com/36112411/102711462-41c96500-42ba-11eb-95e6-f8f001ec862a.png");
	background-size: 2200px;
}
