body{
	background-color: rgb(222,222,222);
	background-image: url("https://user-images.githubusercontent.com/36112411/102711588-29a61580-42bb-11eb-8e1c-c743b1aa944b.png");
	background-size: 2200px;
}
